[project]
	description = This is created for testing of branching and merging
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/suracci94
[access "refs/for/refs/*"]
	read = group user/suracci94
	push = group user/suracci94
	label-Code-Review = -2..+2 group user/suracci94
	label-Verified = -1..+1 group user/suracci94
	rebase = group user/suracci94
	removeReviewer = group user/suracci94
	submit = group user/suracci94
[access "refs/heads/*"]
	read = group user/suracci94
	create = group user/suracci94
	push = +force group user/suracci94
	pushMerge = group user/suracci94
[access "refs/tags/*"]
	push = group user/suracci94
	push = +force group user/suracci94
